.product__container {
    @include flex(column, nowrap, center, center);
    border: 2px solid $thm-blue;
    color: $thm-grey;
    background-color: $thm-lightgrey;
    padding: 20px;
    height: 600px;
    @include bp($thm-bp-med) {
        height: 700px;
        margin: 100px;
    } @include bp($thm-bp-xlrg) {
        height: 700px;
        margin: 100px 300px 100px 300px;
    }
}

.product__heading {
    margin: 10px 0px 25px 0px;
    text-align: center;
}

.product__section {
    padding: 5px;
    @include bp($thm-bp-sml) {
    font-size: $thm-font-medlrg;
    }
    @include bp($thm-bp-med) {
    font-size: $thm-font-lrg;
    }
}

.product__label {
    padding-right: 10px;
}

.product__input {
    @include bp($thm-bp-sml) {
        font-size: $thm-font-medlrg;
        }
    @include bp($thm-bp-med) {
        font-size: $thm-font-lrg;
        }
}

.product__required {
    margin: 5px 0px 15px 0px;
    text-align: center;
    font-size: $thm-font-tiny;
}

.product__button {
    text-decoration: none;
    color: $thm-blue;
    border: 2px solid $thm-blue;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-size: $thm-font-medlrg;
    background-color: $thm-white;
    text-align: center;
    margin: 5px;
    margin-left: 40%;
    @include bp($thm-bp-xlrg) {
        font-size: $thm-font-lrg;
    }
    &:hover {
        color: $thm-grey;
        background-color: $thm-lightgrey;
        border-color: $thm-grey;
    } &:active {
        background-color: $thm-lightblue;
    }
}