*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $thm-font-primary;
    background-color: $thm-white;
}

main {
    min-height: calc(100vh - 120px);
    position: relative;
}