/**
* Global variabls contain information
* related styling of the application
*/

/**
* Table of contents:
*
* 1. colors
*
* 2. fonts
*
* 3. Breakpoints
*
* 4. Grid Variables
*
* 5. Spacing
*
* 6. Z-Index
*
* 7. Box Shadow
*
* 8. Buttons
*
* 9. Footer
*
* 10. Border Radius
*
* 11. Nav
*/

// 1. color

$thm-grey: #666;
$thm-lightgrey: #F5F5F5;
$thm-black: #000;
$thm-blue: dodgerblue;
$thm-white: #fff;

// 2. fonts
$thm-font-primary: 'Open Sans', sans-serif;

// Font Size
$thm-font-tiny: 12px;
$thm-font-sml: 14px;
$thm-font-med: 16px;
$thm-font-medlrg: 18px;
$thm-font-lrg: 24px;
$thm-font-xlrg: 28px;
$thm-font-ult: 32px;
$thm-font-xult: 40px;

// Default Font-Heading
$thm-h1 : $thm-font-ult;
$thm-h2 : $thm-font-xlrg;
$thm-h3 : $thm-font-lrg;
$thm-h4 : $thm-font-medlrg;

// 3. Breakpoints (subject to change)

$thm-bp-tiny: 350px;
$thm-bp-sml: 600px;
$thm-bp-smlmed: 650px;
$thm-bp-med: 800px;
$thm-bp-medlrg: 900px;
$thm-bp-lrg: 1024px;
$thm-bp-lrgxlg: 1200px;
$thm-bp-xlrg: 1280px;
$thm-bp-ult: 1440px;