/**
* Global variabls contain information
* related styling of the application
*/

/**
* Table of contents:
*
* 1. colors
*
* 2. fonts
*
* 3. Breakpoints
*
* 4. Grid Variables
*
* 5. Spacing
*
* 6. Z-Index
*
* 7. Box Shadow
*
* 8. Buttons
*
* 9. Footer
*
* 10. Border Radius
*
* 11. Nav
*/

// 1. color

$thm-grey: #008080;
$thm-black: #800020;
$thm-blue: #555555;
$thm-white: #fff;
$thm-font-primary: sans serif;