.admin__container {
    @include flex(column, nowrap, center, center);
}

.admin__heading-container {
    @include flex(row, nowrap, center, center);
    height: 150px;
    width: 100vw;
    background-color: $thm-lightgrey;
    animation: fade 5s linear infinite;
}

.admin__option-container {
    @include flex(column, nowrap, center, center);
    @include bp($thm-bp-med) {
        @include flex(row, nowrap, space-around, flex-start);
    }
}

.admin__heading {
    color: $thm-grey;
}

.admin__section-heading {
    color: $thm-grey;
    font-size: $thm-font-xlrg;
}

.admin__section-option-container {
    @include flex(column, nowrap, center, center);
    width: 300px;
}

.admin__option {
    text-decoration: none;
    color: $thm-blue;
    border: 2px solid $thm-blue;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-size: $thm-font-lrg;
    background-color: $thm-white;
    text-align: center;
    margin: 5px;
    width: 200px;
    &:hover {
        color: $thm-grey;
        background-color: $thm-lightgrey;
        border-color: $thm-grey;
    } &:active {
        background-color: $thm-lightblue;
    }
}
