.footer {
    height: 200px;
    background-color: $thm-grey;
    position: relative;
}

.footer__fine-print {
    @include flex(row, wrap, center, center);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
}